
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    width: 794px;
    height: 160px;
    padding: 50px 20px; 
    border: 5px solid #FFD700;
    margin: 50px 30px; 
    background-color: #90EE90; 
    box-sizing: content-box;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #ADD8E6; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
}

  