/*hover ცვლის ელემენტის სტილს როდესაც მას მაუსს გადავატარებთ
active აქტიურდება იმ მომენტში როდესაც ელემენტს დავაკლიკებთ
focus გამოიყენება მაშინ როცა ელემენტი ფოკუსშია
nth-child ირჩევს ელემენტს მისი რიგითობის მიხედვით მშობელ ელემენტში
:not(selector) გამორიცხავს კონკრეტულ სელექტორს და სტილს ანიჭებს ყველას მის გარდა*/

li:nth-child(3) {
    color: red;
}

.card:not(:has(button)) h2 {
    color: yellow;
}