body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
    margin: 0;
}

.container {
    display: flex;
    gap: 10px;
}

.item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}
