a {
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: #000000; 
}

a:hover {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 0, 0); 
}

a:active {
    font-size: 12px;
    font-weight: lighter;
    color: #00ff00; 
}
