
p, h1, button {
    font-family: Arial, sans-serif;
    color: darkblue;
    margin: 10px;
    padding: 5px;
}

button {
    background-color: lightblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: deepskyblue;
}
